.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50%;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.loginBox h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #ff8c00;
    text-align: center;
}


.loginBox button {
    margin: 10% 25%
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.error {
    color: #ff1966;
    ;
}